<div class="header-section">

	{{!-- toggle button start --}}
	<a class="toggle-btn"><i class="fa fa-bars"></i></a>
	{{!-- toggle button end --}}

	{{!-- notification menu start --}}
	<div class="menu-right">
		<ul class="notification-menu">
			<li>
				<a href="#"> 帮助文档 </a>
			</li>
			<li>
				<a href="#" class="btn btn-default info-number">
					<i class="fa fa-home"></i>
				</a>
			</li>
			<li>
				<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<img src="img/photos/user-avatar.png" alt="" />
					{{user.loginName}}
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu dropdown-menu-usermenu pull-right">
					<li><a href="#"><i class="fa fa-user"></i>  Profile</a></li>
					<li><a href="#"><i class="fa fa-cog"></i>  Settings</a></li>
					<li><a href="/logout"><i class="fa fa-sign-out"></i> Log Out</a></li>
				</ul>
			</li>
		</ul>
	</div>
	{{!-- notification menu end --}}

</div>