<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">
				<img src="img/logo.png" alt="">
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li ><a href="index.html">Dashboard</a></li>
				<li class="active"><a href="#">Components</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">UI Kits <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">General</a></li>
						<li><a href="#">Buttons</a></li>
						<li><a href="#">Widget</a></li>
						<li><a href="#">Slider</a></li>
						<li><a href="#">Many More</a></li>
					</ul>
				</li>
				<li><a href="#">Fontawesome</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Form Components <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Form Elements</a></li>
						<li><a href="#">Advanced Components</a></li>
						<li><a href="#">Form Wizard</a></li>
						<li><a href="#">Form Validation</a></li>
						<li><a href="#">Dropzone</a></li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
					</form>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img alt="" src="img/photos/user-avatar.png"> John Doe <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#"><span>Profile</span></a></li>
						<li><a href="#"><span>Settings</span></a></li>
						<li><a href="#"><span>Sign Out</span></a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>