{{!-- <h1>Hello World!</h1> --}}
<div class="row">
	<div class="col-md-12 state-block">
		<div class="col-md-2 state-overview">
			<div class="row">
				<div class="panel primary">
					<div class="symbol">
						<i class="fa fa-clipboard"></i>
					</div>
					<div class="state-value">
						<div id="sum_adgroup" class="value">0</div>
						<small>广告组总数</small>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2 state-overview">
			<div class="row">
				<div class="panel yellow">
					<div class="symbol">
						<i class="fa fa-ticket"></i>
					</div>
					<div class="state-value">
						<div id="normalAdgroupsum" class="value">0</div>
						<small>投放中的广告组数</small>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 state-overview">
			<div class="row">
				<div class="panel light">
					<div class="symbol">
						<i class="fa fa-jpy"></i>
					</div>
					<div class="state-value">
						<div id="balance" class="value">0</div>
						<small>账户余额</small><br>
						<small>每日投放限额：<span id="dailyBudget">0</span> <a id="budget"><i class="fa fa-pencil"></i></a></small>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2 state-overview">
			<div class="row">
				<div class="panel red">
					<div class="symbol">
						<i class="fa fa-user"></i>
					</div>
					<div class="state-value">
						<div id="yesterdayclick" class="value">0</div>
						<small>昨日广告点击量</small>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2 state-overview">
			<div class="row">
				<div class="panel green">
					<div class="symbol">
						<i class="fa fa-star"></i>
					</div>
					<div class="state-value">
						<div id="yesterdaycost" class="value">0</div>
						<small>总消耗金额</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>

<!-- page heading start-->
<h3>投放数据</h3>
<!-- page heading end-->

<div id="delivery" class="row hide">
	<div class="col-md-12">
		<section class="panel">
			<header class="panel-heading">
				整体情况
				&nbsp;&nbsp;
				<a class="text-muted">查看详情</a>
				&nbsp;&nbsp;
				<span class="tools pull-right">
					<a href="javascript:;" class="fa fa-chevron-up"></a>
					<a href="javascript:;" class="fa fa-times"></a>
				</span>
				<small class="text-muted">(过去7天数据)</small>
			</header>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-2 state-overview-s">
						<div class="panel primary">
							<small>曝光量 (次)</small>
							<div class="value">230</div>
						</div>
					</div>
					<div class="col-md-2 state-overview-s">
						<div class="panel yellow">
							<small>点击量 (次)</small>
							<div class="value">230</div>
						</div>
					</div>
					<div class="col-md-2 state-overview-s">
						<div class="panel light">
							<small>平均点击率</small>
							<div class="value">230</div>
						</div>
					</div>
					<div class="col-md-2 state-overview-s">
						<div class="panel red">
							<small>花费 (元)</small>
							<div class="value">230</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<select id="deliverySelect1" class="form-control m-bot15"></select>
					</div>
					<div class="col-md-8"></div>
					<div class="col-md-2">
						<select id="deliverySelect2" class="form-control m-bot15">
						</select>
					</div>
				</div>
				<div id="delivery-chart">
					<div id="delivery-container" style="width: 100%;height:300px; text-align: center; margin:0 auto;">
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<section class="panel">
			<header class="panel-heading">
				受众分布
				<a class="tooltips" data-toggle="tooltip" data-placement="right" title="" data-original-title="根据每日投放数据，从年龄、性别和地域三个纬度汇总受众人群信息"><i class="fa fa-question-circle"></i></a>
				<span class="tools pull-right">
					<a href="javascript:;" class="fa fa-chevron-up"></a>
					<a href="javascript:;" class="fa fa-times"></a>
				</span>
			</header>
			<div class="panel-body">
				<div class="col-md-5">
					<div class="row">
						<div class="col-md-12">
							<div id="age-chart">
								<div id="age-container" style="width: 100%;height:250px; text-align: center; margin:0 auto;">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div id="gender-chart">
								<div id="gender-container" style="width: 100%;height:250px; text-align: center; margin:0 auto;">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="row">
						<div id="map-chart">
							<div id="map-container" style="width: 100%;height:500px; text-align: center; margin:0 auto;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<section class="panel">
			<header class="panel-heading">
				广告组列表
				<span class="tools pull-right">
					<a href="javascript:;" class="fa fa-chevron-up"></a>
					<a href="javascript:;" class="fa fa-times"></a>
				</span>
			</header>
			<div class="panel-body">
				<div class="adv-table">
					<table class="display table table-bordered table-striped" id="adv-list">
						<thead>
							<tr>
								<th>ID</th>
								<th>广告组名称</th>
								<th>位置</th>
								<th>素材样式</th>
								<th>出价</th>
								{{!-- <th>上线时间</th>
								<th>审核状态</th>
								<th>投放状态</th>
								<th>备注</th>
								<th>操作</th> --}}
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</section>
	</div>
</div>

{{#section 'css'}}

{{/section}}

{{#section 'headerSub'}}
<div class="alert alert-warning fade in">
	<button type="button" class="close close-sm" data-dismiss="alert">
		<i class="fa fa-times"></i>
	</button>
	<small>亲爱的客户：您未通过公司主体证明审核，新建广告默认为不通过。请进入<a>资质证书</a>中补全资料，通过审核后可正常投放广告。您的余额不足，请点击右侧菜单立即联系运营人员进行充值，否则广告无法正常投放。</small>
</div>
{{/section}}

{{#section 'js'}}
<script src="/js/index.js"></script>
{{/section}}