<div class="row">
	<!-- page heading start-->
	<h3>Dynamic Table</h3>
	<ul class="breadcrumb">
		<li>
			<a>Dashboard</a>
		</li>
		<li>
			<a>Data Tables</a>
		</li>
		<li class="active"> Dynamic Table </li>
	</ul>
	<!-- page heading end-->
</div>
<hr>
<div class="row">
	<div class="col-sm-12">
		<section class="panel">
			<header class="panel-heading">
				Dynamic Table
				<span class="tools pull-right">
					<a href="javascript:;" class="fa fa-chevron-up"></a>
					<a href="javascript:;" class="fa fa-times"></a>
				</span>
			</header>
			<div class="panel-body">
				<div class="adv-table">
					<table class="display table table-bordered table-striped" id="dynamic-table">
						<thead>
							<tr>
								<th>Rendering engine</th>
								<th>Browser</th>
								<th>Platform(s)</th>
								<th>Engine version</th>
								<th>CSS grade</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</section>
	</div>
</div>