<div class="row">
	<!-- page heading start-->
	<div class="page-heading">
		<h3>
			Pickers Collection <small>date pickers, datetime pickers, time pickers and color pickers</small>
		</h3>
		<ul class="breadcrumb">
			<li>
				<a>Forms</a>
			</li>
			<li class="active"> Pickers Collection </li>
		</ul>
	</div>
	<!-- page heading end-->
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<section class="panel">
			<header class="panel-heading">
				Datetime Pickers
				 <span class="tools pull-right">
					<a class="fa fa-chevron-down" href="javascript:;"></a>
					<a class="fa fa-times" href="javascript:;"></a>
				</span>
			</header>
			<div class="panel-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-md-3">Default input Datetimepicker</label>
						<div class="col-md-4">
							<div id="formDatetime" class="form_datetime input-group date">
								<input type="text" class="form-control" readonly size="16">
								<span class="input-group-btn">
									<button type="button" class="btn btn-success date-set"><i class="fa fa-calendar"></i></button>
								</span>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</div>